body {
    font-family: Arial, sans-serif;
    background-color: #e8f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background:#6bb4df;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input, select, button {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #ca5f5b;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #b82e29;
  }
  
  #resultado {
    margin-top: 20px;
    font-weight: bold;
  }
  